In [3]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [4]:
dtypes = {
    'VendorID': 'Int64', 
    'lpep_pickup_datetime': 'object', 
    'lpep_dropoff_datetime': 'object',
    'store_and_fwd_flag': 'object',
    'RatecodeID': 'float64',
    'PULocationID': 'int64',
    'DOLocationID': 'int64',
    'passenger_count': 'Int64',
    'trip_distance': 'float64',
    'fare_amount': 'float64',
    'extra': 'float64',
    'mta_tax': 'float64',
    'tip_amount': 'float64',
    'tolls_amount': 'float64',
    'ehail_fee': 'float64',
    'improvement_surcharge': 'float64',
    'total_amount': 'float64',
    'payment_type': 'Int64',
    'trip_type': 'Int64',
    'congestion_surcharge': 'float64',
    'tolls_amount': 'float64',
}

In [9]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz', compression='gzip', dtype=dtypes, parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'])
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

In [15]:
# database engine for connections
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [16]:
engine.connect()

In [17]:
print(pd.io.sql.get_schema(df, name='green_trips_data', con=engine))

CREATE TABLE green_trips_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [18]:
# read in chunks of rows with an iterator
df_iter = pd.read_csv(
    'green_tripdata_2019-10.csv.gz', 
    compression='gzip', 
    dtype=dtypes, 
    parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'], 
    iterator=True, 
    chunksize=75000
)
df = next(df_iter)

In [19]:
# instead of running this line you can execute DROP TABLE green_trips_data on pgadmin
df.head(n=0).to_sql(name='green_trips_data', con=engine, if_exists='replace')

0


# Load the Trips Data

In [20]:
# This may succeed loading the data by will throw an error because the chunc size is not a multiple of the data size
while True:
    t_start = time()
    
    df = next(df_iter)
    df.to_sql(name='green_trips_data', con=engine, if_exists='append')

    t_end = time()

    print(f'Inserted a chunk of data... {len(df)} rows %.3f' % (t_end - t_start))

Inserted a chunk of data... 75000 rows 9.807
Inserted a chunk of data... 75000 rows 10.018
Inserted a chunk of data... 75000 rows 9.877
Inserted a chunk of data... 75000 rows 10.216
Inserted a chunk of data... 75000 rows 8.568
Inserted a chunk of data... 26386 rows 2.857

StopIteration:


# Load the Zones Data

In [21]:
# read in chunks of rows with an iterator
df_iter_zone = pd.read_csv(
    'taxi_zone_lookup.csv',
    iterator=True, 
    chunksize=75000
)
# Load the zones
while True:
    t_start = time()
    
    df_zone = next(df_iter_zone)
    df_zone.to_sql(name='green_zones_data', con=engine, if_exists='append')
    
    t_end = time()

    print(f'Inserted a chunk of data... {len(df_zone)} rows %.3f' % (t_end - t_start))

Inserted a chunk of data... 265 rows 0.018

StopIteration: